@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.bgcolor {
    font-family: 'Bungee Spice', cursive;
    font-family: 'Poppins', sans-serif;
    background-color: #1b1c1e;
    color: white;
}

.active {
    background: -webkit-linear-gradient(#f5f5c4, #fdfff9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.active:hover {
    background: -webkit-linear-gradient(#FEBE10, #F0E68C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.spr {
    background: -webkit-linear-gradient(#FEBE10, #F0E68C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.containeer {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* grid-template-rows: repeat(auto-fill, minmax(50%, 1fr));*/
    align-content: stretch;
    /* align-items: center; */
    justify-content: stretch;
    justify-items: center;
}

.txt {
    color: white;
}

.txt a {
    color: white;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

.txt a:hover {
    background: -webkit-linear-gradient(#FEBE10, #F0E68C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*.bi {
    color: #FEBE10 !important;
}*/

.bi:hover {
    color: #fff !important;
}

.containeer-items:hover {
    transition: all 0.7s ease-out;
    transform: scale(1.2);
}

footer {
    color: whitesmoke;
}