@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar-nav{
    padding-right: 2rem;
}

.bgcolor {
    font-family: 'Bungee Spice', cursive;
    font-family: 'Poppins', sans-serif;
    background: black;
    color: white;
}

.active {
    background: -webkit-linear-gradient(#f5f5c4, #fdfff9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.active:hover {
    background: -webkit-linear-gradient(#FEBE10, #F0E68C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* transition: all 0.5s ease-in-out;
    transform: scale(1.2); */
}

.active1 {
    /* background: white; */
    color: black;
    border-radius: 10px;
}

.txtgold {
    background: -webkit-linear-gradient(#FEBE10, #F0E68C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.wrapper-class {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 0 4rem 0 0rem;
    padding: 2.5rem;
}

.child1 {
    width: 70%;
}

.child1>h1 {
    font-size: 3em;
}

.child2 {
    width: 30%;
}

.child1>img {

    margin: 0 0 0 4rem;
    width: 80%;
    display: block;

    margin-left: auto;
    margin-right: auto;

}

.form-outline {
    text-align: left;
    font-size: 1rem;
    color: #1b1c1e;
}

.form-head {
    color: #1b1c1e;
}

@media screen and (max-width: 1050px) {
    .wrapper-class {
        flex-direction: column;
    }

    .child1,
    .child2 {
        width: 100%;
    }

    /*.child1 h1 {
        font-size: 2rem;
    }*/

    .child2 {
        padding-top: 4rem;
    }

    .card {
        text-align: center;
        margin: 0 5rem;
        padding: 1.5rem;
    }
}

@media screen and (max-width: 600px) {

    .child1 h1 {
        font-size: 2rem;
    }

    .child2 {
        padding-top: 2rem;
    }

    .card {

        margin: 0 3rem;
        padding: 1.2rem;
    }
}