@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

.container {
    display: flex;
}

.left-side {
    width: 60%;
    padding: 20px;
    text-align: center;
}

.right-side {
    width: 40%;
    padding: 20px;
}

.parent-con {
    display: flex;
}

.user-icon {

    margin-bottom: 20px;
    width: 40%;
}

.complaint-statistics {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 1.2rem;
    margin-bottom: 20px;
    width: 60%;
    font-size: 1.5rem;
}

.statistics-item {
    margin-bottom: 10px;
}

.button-con {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

/* CSS */
.button-56 {
    align-items: center;
    background-color: #ffdfcf;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-56:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.button-56:hover:after {
    transform: translate(0, 0);
}

.button-56:active {
    background-color: #ffdeda;
    outline: 0;
}

.button-56:hover {
    outline: 0;
}

@media (max-width: 767px) {
    .container {
        flex-direction: column;
    }

    .left-side,
    .right-side {
        width: 100%;
    }

    .parent-con {
        flex-direction: column;
    }

    .complaint-statistics {
        width: 100%;
        align-items: center;
        padding-left: 0;
        font-size: 20px;
    }

    .user-icon {
        margin: 20px auto;
        width: 80%;
        text-align: center;
    }

    .welcome-message {
        font-size: 35px;
    }

    .button-56 {
        padding-top: 0;
    }
}