<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>delta@STAAR|About us</title>
  <link rel="stylesheet" href="{% static 'about.css' %}" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="" href="{% static 'PICO-LOGO-SHORT.png' %}" type="image/gif">
  <link rel="stylesheet" href="../css/aboutus.css">
  <link rel="stylesheet" href="../js/aboutus.js">
  <style>
    
    center img{
       padding-right:60px;
    }
    button{
      width: 100px;
      padding:8px;
margin-left: 12px;
margin-top: 12px;
margin-bottom: 10px;
background-color: #ffdc0e;
border-radius: 7px;
    }
    header{
      background-color: #1b1c1e;
    }
    button:hover{
      cursor: pointer;
    }
  </style>

</head>

<body>
  <!-- -----------------------------------------------delta@staar---------------------------------------------------------------- -->
<header>
 <a href="dashboard.php"> <button onclick="" >Back</button></a></header>
  <div class="company">
    <div class="img">
      <img src="https://raw.githubusercontent.com/pico-india/main-django/main/static/about-team.jpg" alt="" />
    </div>
    <div class="company-info">
     <center>
        <img src="../images/mainlogo.webp" alt="" width="210px" height="180px"></center>
      <p>
        <b>Delta@STAAR</b>  is an ERP software made for DELTIN company considering their requirements, 
        which stressed on making administrative work simple and easier. The software provides a 
        solution for managing DELTIN'S Goa's all accomodations from one place and through one portal. 
        The software consists of different modules which deal with water supply, rooms and complaints. 
        Our team has worked tirelessly to deliver this project and has tried to ensure that the portal 
        is user friendly.
      </p>
    </div> 
  </div>
  <!-- ---------------------------------------------------------------------------------------------------------------------- -->
  <!-- ----------------------------------------------------team-------------------------------------------------------------- -->
  <div class="team"><span>OUR TEAM</span></div>
  <div class="container">
    <div class="card">
      <div class="card-image loading"><img src="../images/ivan.jpeg" alt="" width="100%" height="100%"/></div>
      <div class="card-info">
        <h3 class="card-title loading"><span>Ivan <span class="yellow-surname">Azim</span></span></h3>
        <p class="card-description loading">TEAM LEADER
          <span class="personal-info">
           <br>
         
            Pursuing Computer Engineering (DBCE) <br>
            Email: <a href="mailto:'iaxivanazim@gmail.com'">
              iaxivanazim@gmail.com</a>
          </span>
        </p>
        
      </div>
    </div>
    <div class="card">
      <div class="card-image loading"><img src="../images/vadiraj.jpg" alt="" /></div>
      <div class="card-info">
        <h3 class="card-title loading"><span>Vadiraj  <span class="yellow-surname">Inamdar</span></span></h3>
        <p class="card-description loading">TEAM MEMBER
          <span class="personal-info">
         <br>
            Pursuing Computer Engineering (DBCE) <br>
            Email: <a href="mailto:'vadirajinamdar6@gmail.com'">vadirajinamdar6@gmail.com</a>
          </span>
        </p>
       
      </div>
    </div>
    <div class="card">
      <div class="card-image loading"><img src="../images/chinmay.jpg" alt="" /></div>
      <div class="card-info">
        <h3 class="card-title loading"><span>Chinmay <span class="yellow-surname">Joshi</span></span></h3>
        <p class="card-description loading">TEAM MEMBER
          <span class="personal-info">
            <br>
            Pursuing Computer Engineering (DBCE)<br>
            Email: <a href="mailto:'chinmayujoshi@gmail.com'">chinmayujoshi@gmail.com</a>
          </span>
        </p>
        
      </div>
    </div>
    <div class="card">
        <div class="card-image loading"><img src="../images/shubham.png" alt="" /></div>
        <div class="card-info">
          <h3 class="card-title loading"><span>Shubham <span class="yellow-surname">Tendulkar</span></span></h3>
          <p class="card-description loading">TEAM MEMBER
            <span class="personal-info">
              <br>
              Pursuing Computer Engineering (DBCE)<br>
              Email: <a href="mailto:'shubhamtendulkar40821@gmail.com'">shubhamtendulkar40821@gmail.com</a>
            </span>
          </p>
          
        </div>
      </div>
      <div class="card">
        <div class="card-image loading"><img src="../images/gauravi.jpg" alt="" /></div>
        <div class="card-info">
          <h3 class="card-title loading"><span>Gauravi <span class="yellow-surname">Kamat</span></span></h3>
          <p class="card-description loading">TEAM MEMBER
            <span class="personal-info">
              <br>
              Pursuing Computer Engineering (DBCE)<br>
              Email: <a href="mailto:'gauravikamat77@gmail.com'">gauravikamat77@gmail.com</a>
            </span>
          </p>
          
        </div>
      </div>
      <div class="card">
        <div class="card-image loading"><img src="../images/varad.jpg.JPG" alt="" /></div>
        <div class="card-info">
          <h3 class="card-title loading"><span>Varad <span class="yellow-surname">Kelkar</span></span></h3>
          <p class="card-description loading">TEAM MEMBER
            <span class="personal-info">
              <br>
              Pursuing Computer Engineering (DBCE)<br>
              Email: <a href="mailto:'varadk22@gmail.com'">varadk22@gmail.com</a>
            </span>
          </p>
          
        </div>
      </div>
      <div class="card">
        <div class="card-image loading"><img src="../images/sanjana.jpg" alt="" /></div>
        <div class="card-info">
          <h3 class="card-title loading"><span>Sanjana <span class="yellow-surname">Vernekar</span></span></h3>
          <p class="card-description loading">TEAM MEMBER
            <span class="personal-info">
              <br>
              Pursuing Computer Engineering (DBCE)<br>
              Email: <a href="mailto:'sanjanavernekar6@gmail.com'">sanjanavernekar6@gmail.com</a>
            </span>
          </p>
          
        </div>
      </div>
      <div class="card">
        <div class="card-image loading"><img src="../images/navin.jpeg" alt="" /></div>
        <div class="card-info">
          <h3 class="card-title loading"><span>Navin <span class="yellow-surname">Morajkar</span></span></h3>
          <p class="card-description loading">TEAM MEMBER
            <span class="personal-info">
              <br>
              Pursuing Computer Engineering (DBCE)<br>
              Email: <a href="mailto:'navinsika@gmail.com'">navinsika@gmail.com</a>
            </span>
          </p>
          
        </div>
      </div>
  </div>
  <!-- ----------------------------------------footer------------------------------------------ -->
 <!-- Footer -->
 <footer class="tc f3 lh-copy mt5">Copyright &copy; 2022 Delta@STAAR. All Rights Reserved</footer>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>
  <!-- ---------------------------------------------------------------------------------------- -->
  <!-- -------------------------------------------------------------------------------------------- -->

</html>